{% extends "base.html" %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">

<div class="content-container-login">
    <div class="left-container-login">
        <div class="text-container-login">
            <span style="color: #3F51B5; font-weight: bold;">Please</span> Chet le chat and <span style="color: #3F51B5; font-weight: bold;">log in</span>
            {% if wrongPassword %}
            <p style="color:#FF4081; margin-top: 20px;">Username or Password is wrong</p>
            {% endif %}
        </div>

        <div>
            {% load static %}
            <img class="cat-login" src="{% static 'img/cat.png' %}">
        </div>
    </div>

    <div class="right-container-login">
        <form class="form-login" method="POST" action="/login/">
            {% csrf_token %}
            <!-- muss immer mit! sonst werden daten nicht an Backend weitergeleitet -->
            <input type="hidden" name="redirect" value="{{redirect}}">
            <!-- im Frontend fehlt Login-Parameter, deswegen übernehmen wir ihn aus dem Backend als hidden Input -->
            
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="text" name="username" id="username">
                <label class="mdl-textfield__label" for="username">Username</label>
            </div>

            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <input class="mdl-textfield__input" type="password" name="password" id="password">
                <label class="mdl-textfield__label" for="password">Password</label>
            </div>

            <div>
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Login</button>
            </div>
        </form>

        <form class="sign-in-login" action="/register/">
            {% csrf_token %}
            <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Sign in</button>
        </form>
    </div>
</div>
{% endblock %}