{% extends "base.html" %}
{% block content %}

<div class="content-container-logout">
    <div>
        <div class="text-container-logout">
            <span style="color: #3F51B5; font-weight: bold;">See you later</span> says Chet le chat.
        </div>

        <div class="cat-container-logout">
            {% load static %}
            <img class="cat-logout" src="{% static 'img/butt.png' %}">
        </div>
    </div>
</div>

<div class="login-logout">
    <span class="ohno-logout">Oh no! That was a mistake!</span>
    <div>
        {% load static %}
        <img class="arrow-logout" src="{% static 'img/arrow.png' %}">
    </div>
    <button onclick="backToLogin()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back to
        Login</button>
</div>
{% endblock %}