{% extends "base.html" %}
{% block content %}

<script>
    function backToLogin() {
        window.location.href = "/";
    }
</script>

<style>
    .content-container {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-color: blueviolet; */
    }

    .text-container {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .login {
        position: absolute;
        top: 50px;
        right: 100px;
    }
</style>

<div class="content-container">
    <div>
        <div class="text-container">
            <span style="color: #3F51B5; font-weight: bold;">See you later</span> says Chet le chat.
        </div>

        <div>
            {% load static %}
            <img src="{% static 'img/butt.png' %}">
        </div>
    </div>
</div>

<button onclick="backToLogin()" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent login">Back to Login</button>
{% endblock %}