{% extends "base.html" %}
{% block content %}

<!-- <script>
    function backToLogin() {
        window.location.href = "/";
    }
</script> -->

<!-- <style>
    .content-container {
        width: 100%;
        height: 50vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .text-container {
        margin-bottom: 20px;
        font-size: 18px;
    }

    .cat-container {
        @media(max-width: 470px) {
            display: flex;
            justify-content: center;
        }
    }

    .cat {
        @media(max-width: 470px) {
            width: 150px;
        }
    }

    .login {
        position: absolute;
        top: 50px;
        right: 100px;
        display: flex;
        align-items: center;

        @media(max-width: 1349px) {
            right: 10px;
            left: 10px;
            justify-content: center;
        }
    }

    .ohno {
        @media(max-width: 474px) {
            display: none;
        }
    }

    .arrow {
        width: 80px;
        margin-left: 20px;
        margin-right: 20px;
    }
</style> -->

<div class="content-container-logout">
    <div>
        <div class="text-container-logout">
            <span style="color: #3F51B5; font-weight: bold;">See you later</span> says Chet le chat.
        </div>

        <div class="cat-container-logout">
            {% load static %}
            <img class="cat-logout" src="{% static 'img/butt.png' %}">
        </div>
    </div>
</div>

<div class="login-logout">
    <span class="ohno-logout">Oh no! That was a mistake!</span>
    <div>
        {% load static %}
        <img class="arrow-logout" src="{% static 'img/arrow.png' %}">
    </div>
    <button onclick="backToLogin()"
        class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Back to
        Login</button>
</div>
{% endblock %}