{% extends "base.html" %}
{% block content %}
<!-- wird bei bei base.html an entsprechender Stelle eingefügt -->
<!-- am Ende mit endblock geschlossen -->

<script>
    const wholeDate = new Date().toString();
    const date = wholeDate.slice(4, 15)
    let formdata = new FormData();
    // brauchen formData, um Formular zu erstellen
    let token = '{{csrf_token}}'
    // token muss mitgeschickt werden

    /** function reads the data, sends it to backend and creates the message in the frontend with data from backend**/
    async function sendMessage() {
        formdata.append('textmessage', messagefield.value);
        // let messagefield = document.getElementById('messagefield').value
        // nicht mehr notwendig, weil automatisch ausgeführt
        // append: name der Variable, die ans Backend gesendet werden soll und ihr Wert
        formdata.append('csrfmiddlewaretoken', token);

        try {
            copyMessage();
            let response = await fetch('', {
                method: 'POST',
                body: formdata
            });
            // POST Request als JSON = Daten (=neue Message) an Server/Backend gesendet
            let json = await response.json();
            let message_data = JSON.parse(json);
            // response wird umgewandelt, damit wir im Frontend damit arbeiten können
            deleteMessagecopy();
            MessageFromBackend(message_data);
            clearMessagefield();
        } catch (e) {
            console.error('An error occured', e)
        }


        /** generates a copy of the message as placeholder until data from backed arrives **/
        function copyMessage() {
            messageContainer.innerHTML += `
            <div class="user-messages-index" id='deleteMessage'>
                <div class="message-user-index">
                    <span>{{request.user}}: <i>${messagefield.value}</i></span>
                    <div class="arrows-index">
                        <span>&#10003</span>
                    </div> 
                </div>
                <span class="color-grey">${date}</span>
            </div>
            `;
        }


        /** deletes placeholder **/
        function deleteMessagecopy() {
            document.getElementById('deleteMessage').remove();
        }


        /** creates the message with data from backend **/
        function MessageFromBackend(message_data) {
            messageContainer.innerHTML += `
            <div class="user-messages-index">
                <div class="message-user-index">
                    <span>{{request.user}}: <i>${message_data['fields']['text']}</i></span>
                    <div class="arrows-index">
                        <span>&#10003;&#10003;</span>
                    </div> 
                </div>
                <span class="color-grey">${date}</span>
            </div>`;
        }


        /** clears the inputfield **/
        function clearMessagefield() {
            messagefield.value = '';
        }
    }
</script>

<div class="content-container-index">
    <div id="messageContainer" class="message-container-index">
        {% for message in messages %}
        {%if message.author == request.user%}
        <div class="user-messages-index">
            <div class="message-user-index">
                <span>{{message.author}}: <i>{{message.text}}</i></span>
                <div class="arrows-index">
                    <span>&#10003;&#10003;</span>
                </div>
            </div>
            <span class="color-grey">{{message.created_at}}</span>
        </div>
        {%endif%}

        {%if message.author != request.user%}
        <div class="member-messages-index">
            <div class="message-member-index">
                <span>{{message.author}}: <i>{{message.text}}</i></span>
            </div>
            <span class="color-grey">{{message.created_at}}</span>
        </div>
        {%endif%}
        {% endfor %}
        <!-- alle Nachrichten des Chats mit der id=1 werden auf Seite angezeigt, inkl Erstellungsdatum und Autor -->
    </div>


    <!-- Eingabe Textmessage -->
    <form onsubmit="sendMessage(); return false;" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label input-index">
            <input class="mdl-textfield__input" name="textmessage" type="text" id="messagefield">
            <label class="mdl-textfield__label" for="messagefield">Text...</label>
        </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Send
        </button>
    </form>

    <form action="/logout/" method="POST" class="logout-index">
        {% csrf_token %}
        <button
            class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Logout</button>
    </form>
</div>
{% endblock %}