{% extends "base.html" %}
{% block content %}
<!-- wird bei bei base.html an entsprechender Stelle eingefügt -->
<!-- am Ende mit endblock geschlossen -->

<script>
    // senden Daten an Backend und geben sie wieder aus
    async function sendMessage() {
        let formdata = new FormData();
        // brauchen formData, um Formular zu erstellen
        formdata.append('textmessage', messagefield.value);
        // let messagefield = document.getElementById('messagefield').value
        // nicht mehr notwendig, weil automatisch ausgeführt
        // append: name der Variable, die ans Backend gesendet werden soll und ihr Wert

        let token = '{{csrf_token}}'
        formdata.append('csrfmiddlewaretoken', token);
        // token muss mitgeschickt werden

        try {
            const wholeDate = new Date().toString();
            const date = wholeDate.slice(4, 15)
            messageContainer.innerHTML += `<div id='deleteMessage'><span class="color-grey">[${date}]</span> {{request.user}}: <i class="color-grey">${messagefield.value}</i></div>`;
            // Kopie der neuen Nachricht wird generiert in grau

            messagefield.value = '';

            let response = await fetch('', {
                method: 'POST',
                body: formdata
            });
            // POST Request als JSON = Daten (=neue Message) an Server/Backend gesendet

            let json = await response.json();
            let message_data = JSON.parse(json);
            // response wird umgewandelt, damit wir im Frontend damit arbeiten können
            // console.log('json is', json)
            // console.log('message data', message_data)

            document.getElementById('deleteMessage').remove();
            // grauer Platzhalter-Text wird wieder entfernt


            messageContainer.innerHTML += `<div><span class="color-grey">[${date}]</span> {{request.user}}: <i>${message_data['fields']['text']}</i></div>`;
            // jetzt zumindest beim Text Original Backend-Daten

            console.log('Success!')


        } catch (e) {
            console.error('An error occured', e)
        }
    }
</script>

<style>
    .content-container {
        width: 100%;
        /* height: 50vh; */
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        /* background-color: blueviolet; */
    }

    .message-container {
        width: 50% !important;
        height: 500px;
        display: flex;
        flex-direction: column;
        overflow-y: scroll;
        padding: 20px;
        /* background-color: brown; */
    }

    .user-messages {
        display: flex;
        /* width: fit-content; */
        /* flex-direction: column; */
        justify-content: flex-end;
        /* background-color: aqua; */
    }

    .member-messages {
        display: flex;
        /* width: fit-content; */
        /* flex-direction: column; */
        justify-content: flex-start;
        /* background-color: cadetblue; */
    }

    .message-user {
        display: flex;
        flex-direction: column;
        background-color: cadetblue;
        padding: 10px;
        border-radius: 20px 20px 0px 20px;
        color: white;
    }

    .message-member {
        display: flex;
        flex-direction: column;
        background-color: blanchedalmond;
        padding: 10px;
        border-radius: 20px 20px 20px 0px;
    }

    .logout {
        position: absolute;
        top: 50px;
        right: 100px;
    }
</style>

<div class="content-container">
    <div id="messageContainer" class="message-container">
        {% for message in messages %}
        <div class="user-messages">
            <div class="message-user">
                <span>{{message.author}}: <i>{{message.text}}</i></span>
                <div>
                    <span class="color-grey">{{message.created_at}}</span>
                    <span>&#10003;&#10003;</span>
                </div> 
            </div>
        </div>

        <div class="member-messages">
            <div class="message-member">
                <span>{{message.author}}: <i>{{message.text}}</i></span>
                <span class="color-grey">{{message.created_at}}</span> 
            </div>
        </div>
        {% endfor %}
        <!-- alle Nachrichten des Chats mit der id=1 werden auf Seite angezeigt, inkl Erstellungsdatum und Autor -->
    </div>


    <!-- Eingabe Textmessage -->
    <form onsubmit="sendMessage(); return false;" method="post">
        {% csrf_token %}
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" name="textmessage" type="text" id="messagefield">
            <label class="mdl-textfield__label" for="messagefield">Text...</label>
        </div>

        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
            Send
        </button>
    </form>

    <form action="/logout/" method="POST" class="logout">
        {% csrf_token %}
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Logout</button>
    </form>
</div>
{% endblock %}